<p-card [style]="{'margin-top': '15px'}">
  <h1>Your favourites books</h1>
  <p>Here you can find all books from our </p>
  <p-dataView #dv [value]="favouriteBooks" [paginator]="true" [rows]="6" filterBy="name"
              [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
    <ng-template pTemplate="header">
      <div class="flex flex-column md:flex-row md:justify-content-between">
        <span class="p-input-icon-left mb-2 md:mb-0">
                  <i class="pi pi-search"></i>
                  <input type="search" pInputText placeholder="Search by Title" (input)="dv.filter($any($event.target).value)">
              </span>
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </div>
    </ng-template>
    <ng-template let-book pTemplate="listItem">
      <div class="p-col-12">
        <div class="product-list-item">
          <div class="product-list-detail">
            <div class="product-name">{{book.name}}</div>
            <div class="product-description">{{book.description}}</div>
<!--            <p-rating [ngModel]="book.rating" [readonly]="true" [cancel]="false"></p-rating>-->
<!--            <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{book.category}}</span>-->
          </div>
          <div class="product-list-action">
<!--            <button pButton pRipple icon="pi pi-shopping-cart" label="Add to Cart" [disabled]="book.inventoryStatus === 'OUTOFSTOCK'"></button>-->
            <span [class]="'product-badge status-' + book.category.toLowerCase()">{{book.category}}</span>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template let-book pTemplate="gridItem">
      <div class="col-12 md:col-4">
        <div class="product-grid-item card">
          <div class="product-grid-item-top">
            <div>
              <i class="pi pi-tag product-category-icon"></i>
              <span class="product-category">{{book.category}}</span>
            </div>
            <span [class]="'product-badge status-' + book.inventoryStatus.toLowerCase()">{{book.inventoryStatus}}</span>
          </div>
          <div class="product-grid-item-content">
            <div class="product-name">{{book.name}}</div>
            <div class="product-description">{{book.description}}</div>
            <p-rating [ngModel]="book.rating" [readonly]="true" [cancel]="false"></p-rating>
          </div>
          <div class="product-grid-item-bottom">
            <button pButton pRipple icon="pi pi-star" [disabled]="book.inventoryStatus === 'OUTOFSTOCK'"></button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</p-card>
